.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
}

// Login Form
.login-form {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 400px;
  margin: 50px auto;
}

.login-form h2 {
  margin-top: 0;
  color: #333;
}

.form-inputs {
  margin-top: 20px;
}

.form-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-inputs input:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(82, 168, 204, 0.6);
}

@media screen and (max-width: 480px) {
  .login-form {
    width: 90%;
  }
}
