<header class="navbar">
  <!-- Brand Section -->
  <div class="navbar__brand">
    <% if user_signed_in? %>
      <span class="navbar__company"><%= current_company.name %></span>
    <% else %>
      QuoteEditor
    <% end %>
  </div>

  <!-- User Info and Actions -->
  <% if user_signed_in? %>
    <div class="navbar__name">
      <%= current_user.name %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark"
    %>
  <% else %>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn--dark navbar__right"
    %>
  <% end %>
</header>
